html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

body {
    display: flex;
    flex-direction: column;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 15px;
}

nav ul li a {
    color: #ccc; /* Cor padrão */
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s ease; /* Suaviza a transição */
    border-radius: 10%;
}

nav ul li a.active {
    color: #fff; /* Cor branca para o item ativo */
    text-decoration: underline; /* Sublinhado para destacar */
}

nav ul li a:hover {
    color: #fff; /* Branco ao passar o mouse */
    background-color: #0908686b; /* Adiciona um fundo, opcional */

}


main {
    flex: 1;
    padding: 20px;
}
